@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Pinyon+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Oranienbaum&family=Pinyon+Script&display=swap');


body{
    background-color: rgb(173, 92, 135);
}

#y2k{
    width: 1415px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

h1{
    font-family: 'Manufacturing Consent';
    color: rgb(206, 161, 196);
    font-size: 70px;
    text-align: center;
    position: relative;
    z-index: 3;
}

#lila{
    background-color: rgb(136, 74, 107);
    position: relative;
    z-index: 2;
    border-radius: 10px;
    width: 500px;
    margin-left: 430px;
}

#div1{
    position: relative;
    padding-top: 8px;
}

#teglalap1{
    width: 300px;
    height: 500px;
    background-color: black;
    border-radius: 10px;
    margin: 5px;
}

#teglalap2{
    width: 300px;
    height: 500px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    right: 750px;
    top: 195px;
}

#teglalap3{
    width: 300px;
    height: 500px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    right: 380px;
    top: 195px;
}

#teglalap4{
    width: 300px;
    height: 500px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    right: 5px;
    top: 195px;
}

#kteglalap1{
    width: 250px;
    height: 450px;
    background-color: rgb(206, 161, 196);
    border-radius: 10px;
    position: absolute;
    left: 37px;
    top: 220px;
}

#kteglalap2{
    width: 250px;
    height: 450px;
    background-color: rgb(206, 161, 196);
    border-radius: 10px;
    position: absolute;
    left: 25px;
    top: 25px;
}

#kteglalap3{
    width: 250px;
    height: 450px;
    background-color: rgb(206, 161, 196);
    border-radius: 10px;
    position: absolute;
    left: 25px;
    top: 25px;
}

#kteglalap4{
    width: 250px;
    height: 450px;
    background-color: rgb(206, 161, 196);
    border-radius: 10px;
    position: absolute;
    left: 25px;
    top: 25px;
}
