@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Pinyon+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Oranienbaum&family=Pinyon+Script&display=swap');


body{
    background-color: rgb(192, 100, 128);
}

#leopard{
    width: 1415px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

h1{
    font-family: 'Manufacturing Consent';
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 20px rgb(177, 165, 165);
    font-size: 70px;
    text-align: center;
    position: relative;
    z-index: 3;
}

#voros{
    background-color: rgb(50, 5, 17);
    position: relative;
    z-index: 2;
    border-radius: 10px;
    width: 500px;
    margin-left: 430px;
}

#div1{
    position: relative;
    padding-top: 8px;
}